/apis/poi/ @sommerdazuehlke @keth-dev @leovonwyss @querciak
/apis/trips/ @sommerdazuehlke @keth-dev @leovonwyss @querciak
/apis/user-java/ @sommerdazuehlke @keth-dev @leovonwyss @querciak
/apis/userprofile/ @sommerdazuehlke @keth-dev @leovonwyss @querciak

/iac/bicep/ @sommerdazuehlke @keth-dev @leovonwyss @querciak
/iac/terraform/ @sommerdazuehlke @keth-dev @leovonwyss @querciak
